<h1>{{ title }}</h1>
<p>Amanda is the yougest child and only daughter of the Cooper family. She is 26 years old and is a returning student, studying computer programming at Georgian College. Amandas hobbies are painting and scultping. She enjoys spending time at her family cottage and playing with her dog Millie.</p>