<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/amanda">Amanda</a></li>
          <li><a href="/nicholas">Nicholas</a></li>
          <li><a href="/laurie">Laurie</a></li>
          <li><a href="/tim">Tim</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    {{{body}}}
  </body>
</html>
