<h1>{{ title }}</h1>
<p>Nicholas is the eldest child, and only son in the Cooper family. He works in construction and is very active. He previously worked for a dog shelter, and as a result, now has two dogs. In addition, his parter also has a dog, which makes the house very crouded. Nicholas spends his free time outside, playing sports, boating, etc. </p>