<h1>{{ title }}</h1>
<p>Tim is the father of the Cooper family. He is also very active. Tim is retired and spends most of his time fixing and updating our family home. As the house is over 100 years old, there is a lot of things to work on. When he isn't working on the house, Tim enjoys playing games on his ipad, such as Clash of Clans.</p>